ul {
    list-style-type: none;
}

.btn_att {
	position: absolute;
	top: -7px;
	left: 5px;
}
#contentWrapper {
    position: relative;
    background-color: white;
    width: 100%;
    margin: 0 auto;
    max-width: 80%;
    height: auto;
    justify-content: center;
    align-items: center;
    border-left: 3px double #dee2e6;
    border-right: 3px double #dee2e6;
}
.content01 {
    padding: 37px 0;
    border-top: 1px solid #f2f2f2 !important;
}
#content {
	width: 900px;
	min-height: 600px;
	padding-bottom: 30px;
    box-sizing: border-box;
    border: 1px solid #eee;
    margin: 0px 300px 30px;
    padding: 20px;
}

#ribon {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 130px;
}

.board_btn {
    padding: 7px 15px;
    font-size: 14px;
    border-radius: 25px;
    background-color: #F39C12;
    color: white;
    outline: none;
    border: 0px;
    float: right;
    cursor: pointer;
}
.box-body {
    margin-top: 7px;
}
/* 테이블 css */
table {
    width: 960px;
}
td {
    border-bottom: 1.5px solid #dee2e6;
    line-height: 34.1px;
}
	
td:nth-child(2) {
   
}

/* 상세페이지에 맞는 테이블 새 디자인 */
.table-boarded thead th {
    font-size: 14px;
    padding: 18px 0;
}
.table thead th {
	color: #4c4c4c;
    font-size: 14px;
    border-top: 2px solid #555555;
    border-bottom: 1px solid #555555;
    padding: 18px 0;
    font-weight: bold;
}
.tb-center {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}
.line {
	padding: 13px 0;
}
.cont-sub-des .date01 {
    text-align: left;
}
.cont-sub-des>div {
    width: 33.3333%;
    float: left;
    text-align: center;
}
.cont-sub-des {
    position: relative;
}
.cont-sub-des .date01 {
    text-align: left;
}
.cont-sub-des .date01 span {
    padding-left: 42px;
}
.cont-sub-des span {
    font-size: 13px;
    color: #787878;
    margin-right: 15px;
    font-weight: 600;
}
.cont-sub-des span strong {
    color: #787878;
    font-size: 11px;
}
.good01 {
	top: 15px;
	right: 0;
	position: static;
	text-align: right;
}
.good01 span {
	padding-right: 200px;
	margin-right: 0;
}
.hits01 {
	top: 15px;
	right: 0;
	position: static;
	text-align: right;
}
.hits01 span {
	padding-right: 42px;
	margin-right: 0;
}
.btn_img {
	width: 35px;
	height: 35px;
	float: left;
}
.text_center > span {
	position: absolute;
	right: 10px;
	top: 0px;
}
.btn_good {
	position: absolute;
    top: 0px;
    right: 80px;
}
.btn_hits {
	position: relative;
    top: -2px;
    right: -15px;
}




#btn_regi {
	width: 70px;
	height: 70px;
	float: right;
}