ul {
    list-style-type: none;
}
#contentWrapper {
    position: relative;
    background-color: white;
    width: 100%;
    margin: 0 auto;
    max-width: 80%;
    height: auto;
    justify-content: center;
    align-items: center;
    border-left: 3px double #dee2e6;
    border-right: 3px double #dee2e6;
}
.content01 {
    padding: 37px 0;
    border-top: 1px solid #f2f2f2 !important;
}
#content {
	width: 900px;
	min-height: 600px;
	padding-bottom: 30px;
    box-sizing: border-box;
    border: 1px solid #eee;
    margin: 0px 300px 30px;
    padding: 20px;
}

#ribon {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 130px;
}

.board_btn {
    padding: 7px 15px;
    font-size: 14px;
    border-radius: 25px;
    background-color: #F39C12;
    color: white;
    outline: none;
    border: 0px;
    float: right;
    cursor: pointer;
}
.box-body {
    margin-top: 7px;
}
/* 테이블 css */
table {
    width: 960px;
    margin-bottom: 0px;
}
td {
    border-bottom: 1.5px solid #dee2e6;
    line-height: 34.1px;
}
	
td:nth-child(2) {
   border-bottom: 2px solid #dee2e6;
}

/* 상세페이지에 맞는 테이블 새 디자인 */
.table-boarded thead th {
	color: #4c4c4c;
    font-size: 14px;
    border-top: 2px solid #555555;
    border-bottom: 1px solid #555555;
    padding: 18px 0; 
    font-weight: bold;
}
.tb-center {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}
.line {
	padding: 13px 0;
}
.cont-sub-des .date01 {
    text-align: left;
}
.cont-sub-des>div {
    width: 33.3333%;
    float: left;
    text-align: center;
}
.cont-sub-des {
    position: relative;
}
.cont-sub-des .date01 {
    text-align: left;
}
.cont-sub-des .date01 span {
    padding-left: 42px;
}
.cont-sub-des span {
    font-size: 14px;
    color: #787878;
    margin-right: 15px;
    font-weight: 600;
}
.cont-sub-des span strong {
    color: #787878;
    font-size: 14px;
}
.good01 {
	top: 15px;
	right: 0;
	position: static;
	text-align: right;
}
.good01 span {
	padding-right: 200px;
	margin-right: 0;
}
.hits01 {
	top: 15px;
	right: 0;
	position: static;
	text-align: right;
}
.hits01 span {
	padding-right: 42px;
	margin-right: 0;
}
.btn_img {
	width: 35px;
	height: 35px;
	float: left;
}
.text_center > span {
	position: absolute;
	right: 10px;
	top: 0px;
}
.btn_good {
	position: absolute;
    top: 0px;
    right: 80px;
}
.btn_hits {
	position: relative;
    top: -2px;
    right: -15px;
}
/* 글 내용 */
.data-bd-cont {
    padding: 20px 0 40px 42px;
}
.data-bd-cont > span {
	font-size: 15px;
	text-align: left;
}
/* 첨부파일 */
.att_wrap{
	border-bottom: 1.5px solid #555555;
}
.att_area {
	position: relative;
	font-weight: 700;
	text-align: left;
	line-height: 34.1px;
	padding: .75rem;
    vertical-align: top;
}
.att_area > a {
	margin-left: 40px;
}
.btn_att {
	position: absolute;
	top: 10px;
	left: 10px;
}
.btn_area {
	display: block;
	width: 100%;
	height: 70px;
}
.bd-btns{
	width: 60px;
	height: 60px;
}
#btn_del {
	float: right;
}
#btn_regi {
	float: right;
}
#btn_list{
	float: left;
}
#btn_rpl{
	float: left;
}
.list-link {
    border-bottom: 1.5px solid #555555;
    border-top: 1.5px solid #555555;
}
.list-link span.arrow {
    padding: 0px 10px 0px 15px;
    font-size: 13px;
    color: #787878;
    font-weight: bold;
}
.list-link a {
    font-size: 13px;
    color: #787878;
}
.list-link li:first-child {
    border-bottom: 1px solid #e5e5e5;
}
.list-link li {
    padding: 14px 0px;
}
.reply-wrapper {
	margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}